page-consiglicolloquio {
    .Bottone-Ombra{
         margin-top: 2%;
         left:30%;
         width: 20%;  
         font-weight: 700; 
         color: whitesmoke; 
         font-size: 100%;
         text-decoration: none; 
         padding-top: 2%;
         padding-bottom: 2%;
         border-radius: 2%; 
         background: cornflowerblue; 
         box-shadow: 5px 10px 18px grey ; 
         transition: 0.2s; 
    }
    .slide-title{
        color : #191970;
    }
    
    
    .Bottone-Ombra:hover { background: blue !important; } 
    
    .Bottone-Ombra:active { 
      background: blue !important; 
      box-shadow: 0 0px cornflowerblue; 
    } 
}
