page-ui-chat {
    
    #search{
        margin-left: 50%;
        padding-right: 80%;
    }

    #container{
        border-style: solid;
        border-color: black;
        text-align: left;
        margin-left: 30%;
        margin-right: 30%;
    }

    .name{
        padding-left: 1cm;
        padding-right: 1cm;
    }
    
    .sede{
        padding-left: 1cm;
        padding-right: 1cm;
    }

    .send{
        padding-left: 13%;
    }
}