page-review-main {
    #choose_uni{
        border-style: solid;
        border-color: black;
        //margin-left: 30%;
        //margin-right: 30%;
        //margin-top: 15%;        
        //margin-left: 30%;
        //margin-right: 30%;
        //margin-top: 15%;
        padding: 2%;
        background-color: cornflowerblue;
        color: whitesmoke;
    }
    .fixed-content{
        background-color: rgba(100, 148, 237, 0.658);
    }
    .text{
        padding: 5px;
        margin-top: 10px;
    }
    .select {
        width: 100%;
        max-width: 100%;
      }
}
