<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list id="MenuList">
      
      <ion-avatar *ngIf="logged">
        <div id="loggedInfo">{{ userType }}</div>
        <img id="circleAvatar" src="https://www.w3schools.com/howto/img_avatar.png">
        <div id="loggedInfo">{{ loggedEmail }}</div>
      </ion-avatar>

      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{ p.title }}
      </button>

      <div *ngIf="logged">
        <button ion-button icon-start block clear color="danger" (click)="logout()">
          <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
          Logout
        </button>
      </div>
      
      <div id="notVerifiedInfo" *ngIf="logged && !verified">
        <p>
          <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
          L'account risulta non essere verificato.
        </p>

        Alcune delle funzionalità sono state limitate.<br>
        Si prega l'utente di procedere alla verifica dell'account ed effettuare nuovamente la login al sito.<br>
      </div>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>